<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-param-url"
  version="0.1.0">
  <name>cordova-plugin-param-url</name>
  <description>Plugin para carturar parametros por url </description>
  <author>evallejos</author>
  <license>GPL</license>
  <keywords>handler, android, ios</keywords>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <js-module src="www/cordovaParamUrl.js" name="cordovaParamUrl">
    <clobbers target="cordovaParamUrl" />
  </js-module>

  <asset src="www" target="cordovaParamUrl" />
</plugin>
